body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
.video-js {
  width: 100%;
  height: 100%;
  background-color: black;
}
.vjs-waiting {
  visibility: hidden;
}
.vjs-loading-spinner {
  display: none !important;
}
.vjs-modal-dialog-content {
  display: none !important;
}
